* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(circle at top left, #FF7B00 10%, #FF8800 10%, #FF9500 20%, #FFA200 20%, #FFAA00 30%, #FFB700 30%, 
    #FFC300 40%, #FFD000 40%, #FFDD00 50%, #FFEA00 50%);
    background-size: cover;
    background-repeat: no-repeat;
}
#heading {
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    font-family: monospace;
    text-decoration: underline solid 5px;
}
main{
    padding: 10vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
form {
    padding: 2vw 0 2vw 0;
    border-radius: 10px;
    text-align: start;
    align-items: center;
    height: fit-content;
    width: 40vw;
    color: black;
    border: 0.3vw solid black;
    box-shadow: 0.7vw 1.7vh black;
}
label {
    display: inline-block;
    font-size: 2vw;
    margin: 2vh 0 2vh 0;
}
input {
    font-size: 1.5vw;
    border: 0.3vw solid black;
    border-radius: 5px;
    width: 20vw;
    height: 6vh;
    transition: all 0.1s linear 0s;
}
input:hover {
    transform: scale(1.2);
}
select {
    width: 10vw;
    height: 6vh;
    font-size: 1rem;
    border-radius: 5px;
    border: 0.3vw solid black;
    transition: all 0.1s linear 0s;
}
select:hover {
    scale: 1.2;
}
.gender {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
}
.inp-class, .inp-class-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1vw 0 1vw;
}
.inp-class-last {
    margin-top: 4vw;
}
input[type="submit"], input[type="reset"] {
    width: 10vw;
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    width: 1.4vw;
    accent-color: black;
    cursor: pointer;
}
input[type="checkbox"] {
    width: 14vw;
}
textarea[placeholder="Enter your feedback"] {
    font-weight: 900;
}
textarea {
    border: 0.3vw solid black;
    border-radius: 5px;
    transition: all 0.1s linear 0s;
}
textarea:hover {
    scale: 1.2;
}
.cls {
    color: red;
    font-size: 2.2vw;
    text-align: center;
    margin: 0 1vw 0 1vw;
}
@media (max-width: 20rem), (max-height: 10rem) {
    body {
        display: none;
    }
}